.example-container {
  height: 400px;
  width: 95%;
  max-width: 100%;
  overflow: auto;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.459);
}

.selection {
  margin: 0 auto;
  padding: auto;
  box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.459);
  max-width: 90%;
}

table {
  width: 800px;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

.mat-mdc-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-mdc-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}
