<mat-tab-group class="selection" (selectedTabChange)="change($event)" >
  <mat-tab *ngFor="let sensor of sensorList;let index = index" (click)="changeSensor(sensor)" label={{sensor}}></mat-tab>
</mat-tab-group>

<section class="example-container mat-elevation-z15" tabindex="0">
  <table mat-table [dataSource]="historyOfSensor">
    <!-- Data -->
    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns" >
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</section>


<ng-template #mostrar>

  <div class="container">

        <h2 class="alert-heading text-center">¡No hay gráficas activas!</h2>

  </div>

</ng-template>
